# Python
**/__pycache__/
**/*.pyc
linkedin_integration/.venv/

# React
recruiter_dashboard/node_modules/
recruiter_dashboard/dist/

# Python virtual environment
venv/
**/venv/
**/.venv/


# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Uploaded files
linkedin_integration/uploads/
# Environment files
*.env
*.env.*
